body {
  margin:0px;
  background-color:rgba(239, 241, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:1132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7484 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:11px;
  width:763px;
  height:1132px;
  display:flex;
}
#u7484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7485 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:264px;
  width:100px;
  height:60px;
  display:flex;
}
#u7485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7486 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:264px;
  width:100px;
  height:60px;
  display:flex;
}
#u7486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7487 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:264px;
  width:100px;
  height:60px;
  display:flex;
}
#u7487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7488 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:264px;
  width:100px;
  height:60px;
  display:flex;
}
#u7488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7489 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:57px;
  width:253px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7489 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7489_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7490 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:148px;
  width:100px;
  height:60px;
  display:flex;
}
#u7490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7491 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:148px;
  width:100px;
  height:60px;
  display:flex;
}
#u7491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7492 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:148px;
  width:100px;
  height:60px;
  display:flex;
}
#u7492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7493 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:148px;
  width:100px;
  height:60px;
  display:flex;
}
#u7493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
}
#u7494 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:373px;
  width:110px;
  height:70px;
  display:flex;
}
#u7494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7495 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:493px;
  width:100px;
  height:60px;
  display:flex;
}
#u7495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7496 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:603px;
  width:100px;
  height:60px;
  display:flex;
}
#u7496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7497 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:493px;
  width:100px;
  height:60px;
  display:flex;
}
#u7497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7498 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:713px;
  width:100px;
  height:60px;
  display:flex;
}
#u7498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7499 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:823px;
  width:100px;
  height:60px;
  display:flex;
}
#u7499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7500 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:823px;
  width:100px;
  height:60px;
  display:flex;
}
#u7500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7501 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:823px;
  width:100px;
  height:60px;
  display:flex;
}
#u7501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7502 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:823px;
  width:100px;
  height:60px;
  display:flex;
}
#u7502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7503 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:933px;
  width:100px;
  height:60px;
  display:flex;
}
#u7503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7504 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:933px;
  width:100px;
  height:60px;
  display:flex;
}
#u7504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7505 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:933px;
  width:100px;
  height:60px;
  display:flex;
}
#u7505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7506 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:933px;
  width:100px;
  height:60px;
  display:flex;
}
#u7506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7507 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:208px;
  width:0px;
  height:0px;
}
#u7507_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u7507_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7508 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:208px;
  width:0px;
  height:0px;
}
#u7508_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u7508_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7509 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:208px;
  width:0px;
  height:0px;
}
#u7509_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u7509_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7510 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:208px;
  width:0px;
  height:0px;
}
#u7510_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u7510_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7511 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:324px;
  width:0px;
  height:0px;
}
#u7511_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:89px;
}
#u7511_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:79px;
  width:183px;
  height:10px;
}
#u7511_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:76px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7512 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:324px;
  width:0px;
  height:0px;
}
#u7512_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:89px;
}
#u7512_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:79px;
  width:33px;
  height:10px;
}
#u7512_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7513 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:324px;
  width:0px;
  height:0px;
}
#u7513_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:89px;
}
#u7513_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:79px;
  width:17px;
  height:10px;
}
#u7513_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7514 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:324px;
  width:0px;
  height:0px;
}
#u7514_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:89px;
}
#u7514_seg1 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:79px;
  width:167px;
  height:10px;
}
#u7514_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:76px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7515 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:553px;
  width:0px;
  height:0px;
}
#u7515_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u7515_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7516 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:663px;
  width:0px;
  height:0px;
}
#u7516_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u7516_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7517 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:443px;
  width:0px;
  height:0px;
}
#u7517_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u7517_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7518 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:523px;
  width:0px;
  height:0px;
}
#u7518_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:122px;
  height:10px;
}
#u7518_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7519 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1046px;
  width:100px;
  height:60px;
  display:flex;
}
#u7519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7520 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:523px;
  width:0px;
  height:0px;
}
#u7520_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u7520_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-5px;
  width:10px;
  height:563px;
}
#u7520_seg2 {
  border-width:0px;
  position:absolute;
  left:-217px;
  top:548px;
  width:235px;
  height:10px;
}
#u7520_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:377px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7521 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:773px;
  width:0px;
  height:0px;
}
#u7521_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7521_seg1 {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:32px;
  width:243px;
  height:10px;
}
#u7521_seg2 {
  border-width:0px;
  position:absolute;
  left:-238px;
  top:32px;
  width:10px;
  height:18px;
}
#u7521_text {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7522 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:773px;
  width:0px;
  height:0px;
}
#u7522_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7522_seg1 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:32px;
  width:93px;
  height:10px;
}
#u7522_seg2 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:32px;
  width:10px;
  height:18px;
}
#u7522_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7523 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:773px;
  width:0px;
  height:0px;
}
#u7523_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7523_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:32px;
  width:77px;
  height:10px;
}
#u7523_seg2 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:32px;
  width:10px;
  height:18px;
}
#u7523_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7524 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:773px;
  width:0px;
  height:0px;
}
#u7524_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7524_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:32px;
  width:227px;
  height:10px;
}
#u7524_seg2 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:32px;
  width:10px;
  height:18px;
}
#u7524_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7525 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:883px;
  width:0px;
  height:0px;
}
#u7525_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u7525_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7526 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:883px;
  width:0px;
  height:0px;
}
#u7526_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u7526_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7527 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:883px;
  width:0px;
  height:0px;
}
#u7527_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u7527_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7528 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:883px;
  width:0px;
  height:0px;
}
#u7528_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u7528_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7529 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:993px;
  width:0px;
  height:0px;
}
#u7529_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7529_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:32px;
  width:243px;
  height:10px;
}
#u7529_seg2 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:32px;
  width:10px;
  height:21px;
}
#u7529_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7530 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:993px;
  width:0px;
  height:0px;
}
#u7530_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7530_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:32px;
  width:93px;
  height:10px;
}
#u7530_seg2 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:32px;
  width:10px;
  height:21px;
}
#u7530_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7531 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:993px;
  width:0px;
  height:0px;
}
#u7531_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7531_seg1 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:32px;
  width:77px;
  height:10px;
}
#u7531_seg2 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:32px;
  width:10px;
  height:21px;
}
#u7531_text {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7532 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:993px;
  width:0px;
  height:0px;
}
#u7532_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u7532_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:32px;
  width:227px;
  height:10px;
}
#u7532_seg2 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:32px;
  width:10px;
  height:21px;
}
#u7532_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7533 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:170px;
  width:295px;
  height:16px;
  display:flex;
}
#u7533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7534 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:278px;
  width:281px;
  height:16px;
  display:flex;
}
#u7534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7535 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:399px;
  width:293px;
  height:44px;
  display:flex;
}
#u7535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7536 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:512px;
  width:141px;
  height:16px;
  display:flex;
}
#u7536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7537 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:617px;
  width:141px;
  height:16px;
  display:flex;
}
#u7537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7538 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:735px;
  width:365px;
  height:16px;
  display:flex;
}
#u7538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7538_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7539 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:845px;
  width:141px;
  height:16px;
  display:flex;
}
#u7539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7539_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7540 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:955px;
  width:141px;
  height:16px;
  display:flex;
}
#u7540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:2px;
}
#u7541 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:360px;
  width:1118px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.205859079793497deg);
  -moz-transform:rotate(-0.205859079793497deg);
  -ms-transform:rotate(-0.205859079793497deg);
  transform:rotate(-0.205859079793497deg);
}
#u7541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:2px;
}
#u7542 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:695px;
  width:1118px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.205859079793497deg);
  -moz-transform:rotate(-0.205859079793497deg);
  -ms-transform:rotate(-0.205859079793497deg);
  transform:rotate(-0.205859079793497deg);
}
#u7542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
